In [1]:
import pandas as pd
import json

In [ ]:
#print(list500)
summ = 0
c = 0
for elem in list500:
    print(len(elem), type(elem))
    summ+=len(elem)
    c+=1

print(summ)

In [ ]:
list500[49]

In [ ]:
for artist in dict500:
    print(artist, len(dict500[artist]), dict500[artist][0]['URL'])

In [ ]:
c

In [2]:
big_dataset = pd.read_csv("tcc_ceds_music.csv")

In [ ]:
big_dataset

In [3]:
df = big_dataset[big_dataset['release_date'] > 1994][["artist_name", "lyrics"]]

In [ ]:
df

In [6]:
df_freq = df.groupby('artist_name').count()

In [18]:
df_freq_gt3 = df_freq[df_freq["lyrics"] > 3]
df_freq_gt3['lyrics'].mean(), df_freq_gt3['lyrics'].median()

(8.864370290635092, 6.0)

In [22]:
df_freq_gt15 = df_freq[df_freq["lyrics"] > 15]
df_freq_gt15['lyrics'].mean(), df_freq_gt15['lyrics'].median(), df_freq_gt15['lyrics'].sum(), len(df_freq_gt15.index)

(23.74774774774775, 21.0, 2636, 111)

In [19]:
df_freq_gt3

                                  lyrics
artist_name
*nsync                                 5
10 years                               5
12 stones                              4
3 doors down                           7
311                                   33
...                                  ...
zac brown band                        20
zedd                                   4
zero 7                                12
ziggy marley                          18
ziggy marley & the melody makers       6

[929 rows x 1 columns]

In [26]:
df_artists_gt15 = df_freq_gt15.index.to_list()
df_artists_gt15_lower = [x.lower() for x in df_artists_gt15]

In [13]:
from ipynb.fs.full.genius_scrapping import m_art_list, f_art_list

ID: 73910
page: 1
page: 2
Scraped: https://genius.com/Hozier-work-song-lyrics
Scraped: https://genius.com/Hozier-jackboot-jump-live-lyrics
Scraped: https://genius.com/Hozier-talk-lyrics
Scraped: https://genius.com/Hozier-wasteland-baby-lyrics
Scraped: https://genius.com/Hozier-from-eden-live-at-sofar-sounds-lyrics
Scraped: https://genius.com/Hozier-run-lyrics
Scraped: https://genius.com/Hozier-blood-lyrics
Scraped: https://genius.com/Hozier-bridge-over-troubled-water-lyrics

KeyboardInterrupt:

In [5]:
df.groupby('artist_name').count()['lyrics'].median()

2.0

In [27]:
gender_dict = {}
for an in df_artists_gt15:
    gender_dict[an] = int(input(f"{an} "))

311 1
a tribe called quest 1
alan jackson 1
alborosie 1
all them witches 1
arctic monkeys 1
ballyhoo! 1
between the buried and me 1
black rebel motorcycle club 1
blink-182 1
blues saraceno 1
boney james 1
breaking benjamin 1
bring me the horizon 1
buddy guy 1
cage the elephant 1
cake 1
carrie underwood 0
chevelle 1
coldplay 1
creed 1
dave matthews band 1
death from above 1979 1
deftones 1
diana krall 0
dierks bentley 1
dirty heads 1
dispatch 1
drake 1
eagles of death metal 1
easy star all-stars 1
ella fitzgerald 0
eric church 1
eric clapton 1
fall out boy 1
foo fighters 1
g. love & special sauce 1
gary allan 1
george strait 1
godsmack 1
gov't mule 1
green day

ValueError: invalid literal for int() with base 10: ''

In [28]:
for an in df_artists_gt15:
    if an not in gender_dict:
        gender_dict[an] = int(input(f"{an} "))

green day 1
imagine dragons 1
incubus 1
iration 1
jamiroquai 1
jason aldean 1
jj grey & mofro 1
joe bonamassa 1
john mayer 1
johnny cash 1
jonny lang 1
kanye west 1
keith urban 1
kenny chesney 1
kenny wayne shepherd 1
korn 1
lil wayne 1
luciano 1
mac miller 1
meshuggah 1
metallica 1
michael franti & spearhead 1
miranda lambert 1
modest mouse 1
morcheeba 0
mumford & sons 1
muse 1
my morning jacket 1
one direction 1
panic! at the disco 1
pepper 1
phish 1
queens of the stone age 1
radiohead 1
rage against the machine 1
randy rogers band 1
rascal flatts 1
royce da 5'9" 1
shinedown 1
sizzla 1
skillet 1
slightly stoopid 1
soja 1
staind 1
stick figure 1
system of a down 1
tedeschi trucks band 0
tesseract 1
the black angels 2
the black keys 1
the dear hunter 1
the green 1
the kills 0
the movement 1
the weeknd 1
the white stripes 1
the wood brothers 1
thee oh sees 2
thievery corporation 2
three days grace 1
tim mcgraw 1
tool 1
trace adkins 1
twenty one pilots 1
ty segall 1
vybz kartel 2
widespread panic 2
xavier rudd 2
zac brown band 2
ziggy marley 1

In [29]:
counter_gender = {}
for an in gender_dict:
    gend = gender_dict[an]
    if gend in counter_gender:
        counter_gender[gend] += 1
    else:
        counter_gender[gend] = 1
        
counter_gender

{1: 98, 0: 6, 2: 7}

In [33]:
gender_df = pd.read_csv('singers_gender.csv')
female_artists = [x.lower() for x in gender_df[gender_df['gender'] == 'female']['artist'].to_list()]
len(female_artists)

7941

In [31]:
len(df_artists_lower)

3769

In [34]:
female_artists_in_df = []
for x in female_artists:
    if x in df_artists_lower:
        female_artists_in_df.append(x)

In [36]:
len(female_artists_in_df)

278

In [38]:
df

,artist_name,lyrics
4252,the smashing pumpkins,funny pretend child softly steal blanket sky r...
4253,shania twain,strong wrong choose stand lose nights long wom...
4254,mariah carey,come casual flow suddenly defenses start talk ...
4255,no doubt,remain seat permanecer sentados favor magical ...
4256,john prine,stand stand peaceful water stand peaceful wate...
...,...,...
28367,mack 10,cause fuck leave scar tick tock clock come kno...
28368,m.o.p.,minks things chain ring braclets yap fame come...
28369,nine,get ban get ban stick crack relax plan attack ...
28370,will smith,check check yeah yeah hear thing call switch g...
28371,jeezy,remix killer alive remix thriller trap bitch s...

In [40]:
print(len(female_artists))
female_artists.extend([key for key in gender_dict if gender_dict[key] == 0])
print(len(female_artists))

7941
7947

In [ ]:
df[]

In [41]:
fem_df = df[df["artist_name"].isin(female_artists)]
fem_df

             artist_name                                             lyrics
4253        shania twain  strong wrong choose stand lose nights long wom...
4254        mariah carey  come casual flow suddenly defenses start talk ...
4266     whitney houston  hurt feel think cry hurt think hurt gotta outt...
4270   alanis morissette  choice hear state time think treat like prince...
4274               jewel  word touch deeply core tremble think realize e...
...                  ...                                                ...
28145      kelly rowland  simply have wonderful christmastime simply hav...
28234           ms. jade  ching ching ching ching ching money spend toda...
28324            aaliyah  dirty south uhhuh feel feel east coast feel fe...
28347            aaliyah  passion instant sweat bead feel cupid shoot he...
28353            cassidy  work niggas beef gonna spray pump street nigga...

[975 rows x 2 columns]

In [46]:
df_selected_artists = pd.read_excel('eng_artists.xlsx', header=0)
#male_artists = df_selected_artists['men'].to_list()
female_artists.extend(df_selected_artists['women'].to_list())
female_artists = list(set(female_artists))
len(female_artists)

7956

In [47]:
sel_male_artists = df_selected_artists['men'].to_list()
male_artists

In [48]:
male_artists = [x.lower() for x in gender_df[gender_df['gender'] == 'male']['artist'].to_list()]

In [49]:
male_df = df[df["artist_name"].isin(male_artists)]
male_df

             artist_name                                             lyrics
4256          john prine  stand stand peaceful water stand peaceful wate...
4264              coolio  woman floor gotta gotta gotta gotta everybody ...
4267   ol' dirty bastard  beat slam beat slam rugged program jam touch s...
4268             raekwon  tell long time fuck little monkey fuck fuck th...
4269              coolio  walk valley death look life realize nothin lea...
...                  ...                                                ...
28363            ja rule  spit shit damn nigga ridiculous nigga lose inc...
28364      nipsey hussle  look comin straight slauson crazy motherfucker...
28367            mack 10  cause fuck leave scar tick tock clock come kno...
28369               nine  get ban get ban stick crack relax plan attack ...
28370         will smith  check check yeah yeah hear thing call switch g...

[3069 rows x 2 columns]

In [52]:
print(len(male_artists))
male_artists.extend([key for key in gender_dict if gender_dict[key] == 1])
print(len(male_artists))
male_artists.extend(sel_male_artists)
male_artists = list(set(male_artists))
print(len(male_artists))

15361
15459
15324

In [53]:
male_df = df[df["artist_name"].isin(male_artists)]
male_df

             artist_name                                             lyrics
4256          john prine  stand stand peaceful water stand peaceful wate...
4264              coolio  woman floor gotta gotta gotta gotta everybody ...
4265           green day  mission decision lead path selfdestruction slo...
4267   ol' dirty bastard  beat slam beat slam rugged program jam touch s...
4268             raekwon  tell long time fuck little monkey fuck fuck th...
...                  ...                                                ...
28363            ja rule  spit shit damn nigga ridiculous nigga lose inc...
28364      nipsey hussle  look comin straight slauson crazy motherfucker...
28367            mack 10  cause fuck leave scar tick tock clock come kno...
28369               nine  get ban get ban stick crack relax plan attack ...
28370         will smith  check check yeah yeah hear thing call switch g...

[4854 rows x 2 columns]

In [54]:
male_df['gender'] = 1
fem_df['gender'] = 0

C:\users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [55]:
fem_df

,artist_name,lyrics,gender
4253,shania twain,strong wrong choose stand lose nights long wom...,0
4254,mariah carey,come casual flow suddenly defenses start talk ...,0
4266,whitney houston,hurt feel think cry hurt think hurt gotta outt...,0
4270,alanis morissette,choice hear state time think treat like prince...,0
4274,jewel,word touch deeply core tremble think realize e...,0
...,...,...,...
28145,kelly rowland,simply have wonderful christmastime simply hav...,0
28234,ms. jade,ching ching ching ching ching money spend toda...,0
28324,aaliyah,dirty south uhhuh feel feel east coast feel fe...,0
28347,aaliyah,passion instant sweat bead feel cupid shoot he...,0
28353,cassidy,work niggas beef gonna spray pump street nigga...,0

In [68]:
for x in fem_df.lyrics.head(15):
    print(x)

strong wrong choose stand lose nights long woman need arm hold tenderly cause woman yeah woman need world want feel cold touch beautiful place kiss face woman need arm hold tenderly cause woman yeah woman need yeah woman need need baby yeah yeah baby yeah yeah need baby
come casual flow suddenly defenses start talk sensual tone envelop lose selfcontrol baby melt away fall like rain time face wanna break anytime come baby melt away arm imagine take slow tenderly till feel overflow look soft cave conceal slowly weaken baby melt away fall like rain time face wanna break anytime come baby melt away arm cloud reverie spin inside head unendingly thoughts wild rhapsodize paint pretty picture baby melt away fall like rain time face wanna break anytime come baby melt away arm baby melt away fall like rain time face wanna break anytime come baby melt away arm
hurt feel think cry hurt think hurt gotta outta head hurt hurt baby life better leave admit life kind go things say love yeah drama split heart ease think things leave best thing hurt feel think cry hurt baby think hurt gotta outta head hurt hurt yeah hurt hurt hurt know hurt hurt hurt say wanna feel kind pain think think right hurt baby feel think think think cry hurt tell think think hurt gotta outta head hurt hurt yeah hurt hurt hurt hurt hurt hurt sure hurt wanna hurt wanna shoop shoop hurt hurt hurt gotta shoop hurt hurt hurt hurt yeah hurt bout
choice hear state time think treat like princess like spite alarm fall head feet surprise couldn help fault swallow braver give credit service spite alarm fall head feet surprise couldn help fault bearer unconditional things hold breath door thank best listener best friend best friend benefit take long felt healthy want rational aware aware spite alarm fall head feet surprise couldn help fault spite alarm fall head feet surprise couldn help fault
word touch deeply core tremble think realize effect look like make want near kiss sweet make crave thousand kiss follow touch like make embrace pale shallow come close make want near bring flower whisper sweet things understand hand know make want near look eye know heart hand understand arm complete power gentle cause hand hair heart teeth babe make want near hand hair heart teeth babe make want near want near want near want near
stand tell understand say love fact leave say felt trap somethings explain away heartache till stand stand time close remember things see dream come tumblin wolves thing stand stand stand stand explain speak stand need clothe need stay things understand point view suppose stand stand stand stand explain speak stand stand stand stand
time whisper softly love word fairy tales long hear give body soul take control slowly sweep carry away tell pretty lie hold tight know ignorance warm embrace long want away haunt yesterday drown thoughts yesterday fool paradise blow away feel remember come window dark baby need need baby right cause tonight crumble sink memories shadow wash long want away haunt haunt haunt baby long want away haunt haunt yesterday long long long long long long long long long baby need need right cause tonight crumble sink memories shadow wash long want away haunt yesterday long want away haunt long long want away haunt
certain life simply beloved wife know certain live life beloved wife beloved wife believe lose best certain life years simply beloved wife defy depth deep grief beloved soul renounce life right beloved wife beloved wife go suffer long hours pain go suffer begin go wrong surrender life tonight go wrong turn face away light tonight
want know go ready ready want rivers overflow ready ready ready rivers ready rivers flowin freely ready ready water redeem ready ready ready rivers ready rivers want want know go want rivers overflow ready rivers ready rivers ready ready
sweet daydream night creep dream fantasy deep fantasy night creep dream real daydream sweet sweet daydream real touch come room come fantasy feel sweet dream baby sweet fantasy daydream feel raptured silence come want sweet sweet sweet sweet sweet sweet deeper reality sweet sweet like kiss life like kiss life build fantasy baby come room fantasy
know catholic girls time little late forget confuse guilt feel sinners saviors loverless priests sunday reason thing learn need cling sing alleluia choir confess darkest deeds envious brothers go blind father skeptic stupid question reason thing learn need cling learn reject believe suffer consequence inquisition jump fountain forgive reason thing learn need cling delusions head mind believe
away long absence make heart frantic wanna tell go operator transatlantic night go stare phone reply long long distance affair telephone home gotta message wanna tell go world come come act like total stranger reach feel heart danger letter perfectly clear have ball wish long long distance affair telephone home gotta message wanna tell go premonition funny thing unfamiliar kind vague hazy like know phone gonna ring time drive crazy hear echo long long distance affair telephone home long long distance affair telephone home long long distance affair telephone home long long distance affair
abandon live anymore vacancy live anymore live inside conceive wouldn trouble away change right away abandon live anymore vacancy live anymore dont live anymore emptiness memories go away place stay home abandon live anymore vacancy live anymore windows eye loneliness inside away know miss need abandon live anymore vacancy live anymore abandon live anymore vacancy live anymore live anymore live live anymore live anymore live live anymore
know reach deep inside hide walk talk touch tenderly build strong couldn break road afraid kiss arkansas rome cause arm home sweet home feel live years bill baby chain home heart anymore hang bedroom door head like home heart anymore foundations stone turn dust hardest hearts steel turn rust feel change story end come home live build wall go home heart anymore hang bedroom door head like home head like home heart anymore home heart
corner stand jukebox best country music hear selections quarter somebody songs good kentucky whiskey counter friends help ease pain buttonpushing cowboy play song miss mister play song song mister know mean wanna hear song dime time hold away close swear richest girl nashville maybe state tennessee guess better cause leave leave note say sorry picture song weigh heavy mind mister play song song mister know mean wanna hear song

In [57]:
with open('all_songs_dictlist.json', 'r', encoding='utf-8') as f:
    dict500 = json.load(f)

In [58]:
list500 = list(dict500.values())

In [62]:
fut_dflist = []
for l in list500:
    fut_dflist.extend(l)

In [76]:
df_genius = pd.DataFrame(fut_dflist)
df_genius

,Title,URL,Artist,Album,Lyrics
0,DDevil,https://genius.com/System-of-a-down-ddevil-lyrics,system of a down,System of a Down,Plagiarized existence exist among the writers ...
1,Side of the Freeway,https://genius.com/System-of-a-down-side-of-th...,system of a down,,"Hey, Mr. Jack Is that the mouthwash in your ey..."
2,Deer Dance,https://genius.com/System-of-a-down-deer-dance...,system of a down,Toxicity,Circumventing circuses lamenting in protest To...
3,Darts,https://genius.com/System-of-a-down-darts-lyrics,system of a down,System of a Down,May I please remain in this space For darts sc...
4,Jet Pilot,https://genius.com/System-of-a-down-jet-pilot-...,system of a down,Toxicity,Wired were the eyes of a horse on a jet pilot ...
...,...,...,...,...,...
586,Two Times a Charm,https://genius.com/Leikeli47-two-times-a-charm...,leikeli47,Leikeli47,"I came here to talk back, I-I came here to fuc..."
587,Attitude,https://genius.com/Leikeli47-attitude-lyrics,leikeli47,Wash & Set,"Brushed my hair, went downstairs Favorite jean..."
588,Bitch Switch,https://genius.com/Leikeli47-bitch-switch-lyrics,leikeli47,Lk-47 Part III,I was havin a good day That Sade started me of...
589,Heard Em Say,https://genius.com/Leikeli47-heard-em-say-lyrics,leikeli47,Lk-47,Change always brings different things We aim h...
590,CIAA,https://genius.com/Leikeli47-ciaa-lyrics,leikeli47,Acrylic,The guns go bang bang My neighborhood gangbang...

In [77]:
df_genius = df_genius[df_genius['Artist'] != "the jack wood"]
df_genius

,Title,URL,Artist,Album,Lyrics
0,DDevil,https://genius.com/System-of-a-down-ddevil-lyrics,system of a down,System of a Down,Plagiarized existence exist among the writers ...
1,Side of the Freeway,https://genius.com/System-of-a-down-side-of-th...,system of a down,,"Hey, Mr. Jack Is that the mouthwash in your ey..."
2,Deer Dance,https://genius.com/System-of-a-down-deer-dance...,system of a down,Toxicity,Circumventing circuses lamenting in protest To...
3,Darts,https://genius.com/System-of-a-down-darts-lyrics,system of a down,System of a Down,May I please remain in this space For darts sc...
4,Jet Pilot,https://genius.com/System-of-a-down-jet-pilot-...,system of a down,Toxicity,Wired were the eyes of a horse on a jet pilot ...
...,...,...,...,...,...
586,Two Times a Charm,https://genius.com/Leikeli47-two-times-a-charm...,leikeli47,Leikeli47,"I came here to talk back, I-I came here to fuc..."
587,Attitude,https://genius.com/Leikeli47-attitude-lyrics,leikeli47,Wash & Set,"Brushed my hair, went downstairs Favorite jean..."
588,Bitch Switch,https://genius.com/Leikeli47-bitch-switch-lyrics,leikeli47,Lk-47 Part III,I was havin a good day That Sade started me of...
589,Heard Em Say,https://genius.com/Leikeli47-heard-em-say-lyrics,leikeli47,Lk-47,Change always brings different things We aim h...
590,CIAA,https://genius.com/Leikeli47-ciaa-lyrics,leikeli47,Acrylic,The guns go bang bang My neighborhood gangbang...

In [84]:
def clean_text(x):
    x = re.sub("[,\.\(\)\?!;:]", '', x.lower())
    x = re.sub("\-", ' ', x)
    x = re.sub('\s{2,}', ' ', x)
    x = re.sub('\s', ' ', x)
    return x.strip()

In [71]:
import re

In [85]:
df_genius['Lyrics'] = df_genius['Lyrics'].apply(clean_text)

C:\users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [86]:
df_genius

,Title,URL,Artist,Album,Lyrics
0,DDevil,https://genius.com/System-of-a-down-ddevil-lyrics,system of a down,System of a Down,plagiarized existence exist among the writers ...
1,Side of the Freeway,https://genius.com/System-of-a-down-side-of-th...,system of a down,,hey mr jack is that the mouthwash in your eyes...
2,Deer Dance,https://genius.com/System-of-a-down-deer-dance...,system of a down,Toxicity,circumventing circuses lamenting in protest to...
3,Darts,https://genius.com/System-of-a-down-darts-lyrics,system of a down,System of a Down,may i please remain in this space for darts sc...
4,Jet Pilot,https://genius.com/System-of-a-down-jet-pilot-...,system of a down,Toxicity,wired were the eyes of a horse on a jet pilot ...
...,...,...,...,...,...
586,Two Times a Charm,https://genius.com/Leikeli47-two-times-a-charm...,leikeli47,Leikeli47,i came here to talk back i i came here to fuck...
587,Attitude,https://genius.com/Leikeli47-attitude-lyrics,leikeli47,Wash & Set,brushed my hair went downstairs favorite jeans...
588,Bitch Switch,https://genius.com/Leikeli47-bitch-switch-lyrics,leikeli47,Lk-47 Part III,i was havin a good day that sade started me of...
589,Heard Em Say,https://genius.com/Leikeli47-heard-em-say-lyrics,leikeli47,Lk-47,change always brings different things we aim h...
590,CIAA,https://genius.com/Leikeli47-ciaa-lyrics,leikeli47,Acrylic,the guns go bang bang my neighborhood gangbang...

In [93]:
def gendering(x, male_artists=male_artists, female_artists=female_artists):
    if x in male_artists:
        val = 1
    elif x in female_artists:
        val = 0
    else:
        val = 2
    return val

In [94]:
df_genius['gender'] = df_genius["Artist"].apply(gendering)

C:\users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [95]:
df_genius

,Title,URL,Artist,Album,Lyrics,gender
0,DDevil,https://genius.com/System-of-a-down-ddevil-lyrics,system of a down,System of a Down,plagiarized existence exist among the writers ...,1
1,Side of the Freeway,https://genius.com/System-of-a-down-side-of-th...,system of a down,,hey mr jack is that the mouthwash in your eyes...,1
2,Deer Dance,https://genius.com/System-of-a-down-deer-dance...,system of a down,Toxicity,circumventing circuses lamenting in protest to...,1
3,Darts,https://genius.com/System-of-a-down-darts-lyrics,system of a down,System of a Down,may i please remain in this space for darts sc...,1
4,Jet Pilot,https://genius.com/System-of-a-down-jet-pilot-...,system of a down,Toxicity,wired were the eyes of a horse on a jet pilot ...,1
...,...,...,...,...,...,...
586,Two Times a Charm,https://genius.com/Leikeli47-two-times-a-charm...,leikeli47,Leikeli47,i came here to talk back i i came here to fuck...,0
587,Attitude,https://genius.com/Leikeli47-attitude-lyrics,leikeli47,Wash & Set,brushed my hair went downstairs favorite jeans...,0
588,Bitch Switch,https://genius.com/Leikeli47-bitch-switch-lyrics,leikeli47,Lk-47 Part III,i was havin a good day that sade started me of...,0
589,Heard Em Say,https://genius.com/Leikeli47-heard-em-say-lyrics,leikeli47,Lk-47,change always brings different things we aim h...,0
590,CIAA,https://genius.com/Leikeli47-ciaa-lyrics,leikeli47,Acrylic,the guns go bang bang my neighborhood gangbang...,0

In [96]:
df_genius = df_genius[['Lyrics', 'gender']]

In [97]:
df_genius

                                                Lyrics  gender
0    plagiarized existence exist among the writers ...       1
1    hey mr jack is that the mouthwash in your eyes...       1
2    circumventing circuses lamenting in protest to...       1
3    may i please remain in this space for darts sc...       1
4    wired were the eyes of a horse on a jet pilot ...       1
..                                                 ...     ...
586  i came here to talk back i i came here to fuck...       0
587  brushed my hair went downstairs favorite jeans...       0
588  i was havin a good day that sade started me of...       0
589  change always brings different things we aim h...       0
590  the guns go bang bang my neighborhood gangbang...       0

[588 rows x 2 columns]

In [100]:
df_genius.groupby('gender').count()

        Lyrics
gender
0          262
1          326

In [101]:
df_genius['lyrics'] = df_genius["Lyrics"]

C:\users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [102]:
df_genius = df_genius[['lyrics', 'gender']]

In [104]:
male_df = male_df[['lyrics', 'gender']]
fem_df = fem_df[['lyrics', 'gender']]
len(male_df.index), len(fem_df.index)

(4854, 975)

In [105]:
975 + 262 - 326

911

In [106]:
male_sample = male_df.sample(911)

In [107]:
male_sample

                                                  lyrics  gender
27166  wouldn angry fuck tear arouse refresh supply s...       1
5614   stay super late tonight pick apples make pies ...       1
15927  girl come think look cool sing say wanna like ...       1
27361  problem want follow underneath insane asylum w...       1
11589  little dive deadend road call crosseyed cricke...       1
...                                                  ...     ...
26073  scum earth come yeah kill yeah destroy yeah he...       1
15431  cold blue swastika tattoo skin vein staple chi...       1
25918  official come cripple leave maim silent tameda...       1
26692  wanna defile desecrate mind rely wanna break c...       1
15848  restless sinner rest face hold fill days dark ...       1

[911 rows x 2 columns]

In [108]:
df_modern = pd.concat([male_sample, df_genius, fem_df])
df_modern.groupby("gender").count()

        lyrics
gender
0         1237
1         1237

In [109]:
df_modern.to_csv("df_modern.csv", index=False)
df_modern.to_csv("df_modern_indexed.csv")